<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item" id="slide-2">
      <%= image_tag "ladies-learning-code.jpg", datasrc:"holder.js/100%x500/auto/#777:#7a7a7a/text:First slide"%>
      <div class="carousel-caption">
        <h1>I want to learn by...</h1>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <select class="form-control input-lg">
              <option>Completing Exercises</option>
              <option>Creating Projects</option>
              <option>Attending Workshops</option>
              <option>Reading Tutorials</option>
              <option>Watching Videos</option>
             </select>
          </div>
        </div>
      </div>
    </div>

    <div class="item" id="slide-3">
      <%= image_tag "ladies-learning-code.jpg", datasrc:"holder.js/100%x500/auto/#777:#7a7a7a/text:First slide"%>
      <div class="carousel-caption">
        <h1>Show me resources that are...</h1>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <select class="form-control input-lg">
              <option>Online Courses</option>
              <option>Textbooks</option>
              <option>Screencasts</option>
              <option>Blogs</option>
              <option>Programming Bootcamps</option>
             </select>
          </div>
        </div>
      </div>
    </div>
    <div class="item active" id="slide-1">
      <%= image_tag "ladies-learning-code.jpg", datasrc:"holder.js/100%x500/auto/#777:#7a7a7a/text:First slide"%>
      <div class="carousel-caption">
        <h1>I want to learn...</h1>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <select class="form-control input-lg">
              <option>Ruby on Rails</option>
              <option>Javascript</option>
              <option>Python</option>
              <option>PHP</option>
              <option>HTML and CSS</option>
             </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->