<% provide(:title, '') %>

<div class="form-signin">
  <h2 class="form-signin-heading">Please Enter Email</h2><br />
  <%= form_tag password_resets_path, :method => :post do %>
    <div class="form-group">

      <%= text_field_tag :email, params[:email], {placeholder: "Email", class:"form-control"} %>
    </div>

    <div class="actions"><%= submit_tag "Reset Password",class: "btn btn-lg btn-primary btn-block" %></div>
  <% end %>
</div>