v=spf1 include:spf.mailjet.com ?all
k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCUBoMUY4Fl0asQAU4yCxL4C+r2EdDLE+3ZOnRonrksqeGw/yvtCx5wLT1bI1uD06VoIkp0CIxss23KHR644d9djPcFtOL1I5jGes2mWwJlMXBbN+ahGhFiIGrgu0l9hEmnTEmpuWtrXUI5JaU5yWGGw+T5k/jnZwQpfnyDUQjFYQIDAQAB

<h1>Hi <%= @user.first_name %> <%= @user.first_name %>,
</h1> <p> Thanks for signing up for Code Dojo! </p>