<tr>
  <td class="col-md-6">
      <% image_tag "railsforzombies.png", class:"img-responsive img-thumbnail" %>
    <% end %>
  </td>
  <td>
    <%= link_to interesting_resource.name, interesting_resource %>
    <i class="pull-right <%= star_classes(interesting_resource.average_score.to_f) %>"></i>
  </td>
</tr>
