
<div class = "well">
  <div>
    <p>
    Would be great if the div with the image and resource name could be to the left of the one with the review. Like Amazon: http://www.amazon.com/gp/pdp/profile/A3AVGFV1EOUFM9/ref=cm_cr_pr_pdp </p>
    <%= image_tag review.resource.resource_photo %>
    <%= review.resource.name %>
  </div>
  <div>
  <%= render review %>
  </div>
</div>