<% provide(:title, "#{@user.first_name} #{@user.last_name}") %>
<%= image_tag @user.avatar %>
    
<p><%= link_to "Edit your profile", edit_user_path %></p>

<%= "#{@user.reviews.count} reviews" %>

<%= render partial: "user_reviews", collection: @user.reviews, as: "review" %>

