<div class="well row">
  <% content_for(:scripts) do %>
    <%= javascript_include_tag 'star_rating' %>`
  <% end %>

  <%= form_for @review, class: "form-group" do |f| %>
    <%= render '/reviews/form', f: f %>


    <%= f.submit "Update review", class: "btn btn-primary" %>
  <% end %>

</div>
