<div id="interested-users-<%=resource.id%>">
  <% if resource.interested_users.count == 0 %>
  <p>Nobody is interested in this resource yet.</p>
  <% else %>
    <p>People interested in this resource:</p>
    <div>
      <% resource.interested_users.sample(15).each do |user| %>
        <%# TO DO: change to avatar eventually %>
        <div class="temp-avatar"><%= link_to image_tag(user.avatar), user_path(user), class:"interested-in" %></div>
      <% end %>
    </div>
  <% end %>
</div>