<div id="interested-users-<%=resource.id%>">
  <% if resource.interested_users.count == 0 %>
  Nobody is interested in this resource yet.
  <% else %>
    People interested in this course: 

    <% resource.interested_users.take(25).each do |user| %>
      <%# TO DO: change to avatar eventually %>
      <%= link_to user.email, user %>
    <% end %>

    <%= "(#{resource.interested_users.count} total)" %>

  <% end %>
</div>