<div id="interest_form">
  <% if @current_user.interested?(resource) %>
    <%= render partial: 'remove_from_interested', locals: {resource: resource} %>
  <% else %>
    <%= render partial: 'add_to_interested', locals: {resource: resource} %>
  <% end %>
</div>