<% provide(:title, 'All Resources') %>

<table class = "table">
    <%= render @resources %>
</table>


<div id="accordion">
  <% if @reviews %>
    <% @reviews.each do |review| %>
      <h3><%= review.title %></h3>
      <p><%= review.content %></p>
  <% end %>
</div>
<% end %>