<% interested_users = @resource.interested_users %>
<% interested_user_count = interested_users.length %>

<%# provide(:title, "#{@resource.name}") %>
<div class="container">
<div class="page-header">
  <h2><%= link_to @resource.name, @resource %><br><small>
<%=  if interested_user_count==0
    "No users have expressed interest in this resource."
    else
      pluralize(interested_user_count, 'person') + 
      if interested_user_count==1
        " is "
      elsif interested_user_count >= 2
        " are "
      end +
      "interested in this resource:"
      end %></small></h2>

<table class ="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>
    </tr>
  </thead>
  <tbody>
    <% interested_users.each do |user| %>
      <tr>
        <td><%= link_to user.first_name, user %>&nbsp<%= link_to user.last_name, user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>