<% interested_users = @resource.interested_users %>
<% interested_user_count = interested_users.count %>

<% provide(:title, "#{@resource.name}") %>


<%=  if interested_user_count==0
    "No users have expressed interest in this resource."
    else
      pluralize(interested_user_count, 'person') + 
      if interested_user_count==1
        " is "
      elsif interested_user_count >= 2
        " are "
      end +
      "interested in this resource:"
      end %> 

<table class ="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>
    </tr>
  </thead>
  <tbody>
    <%= render interested_users %>
  </tbody>
</table>
</div>