
<div class="col-md-7 col-md-offset-1">
  <% provide(:title, '') %>
  <table class="table">
    <%= render @results %>
  </table>
  <%= will_paginate @results %>
</div>

<div class="col-md-3">
  <%= render 'tag_filter' %>
</div>
