<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">  
      <a class="brand" href="#">code dojo</a>   
      <ul class="nav pull-right">
        <li><%= link_to '<i class="icon-home icon-white"></i> Home'.html_safe, root_path%></li>
        <% if set_current_user %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-inverse">
              <li><%#= link_to '<i class="icon-list-alt icon-white"></i> Profile'.html_safe, current_user %></li>
              <li><%#= link_to '<i class="icon-cog icon-white"></i> Settings'.html_safe, edit_user_path(current_user) %></li>
                <li class="divider"></li>
              <li>
                <%= link_to '<i class="icon-off"></i> Logout'.html_safe, logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
        <li><%= link_to '<i class="icon-user icon-white"></i> Sign Up'.html_safe, signup_path %></li>
        <li><%= link_to '<i class="icon-play-circle icon-white"></i> Login'.html_safe, login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
